<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBU4lhVX6qKxlySA75mOtHViNmm65iDTKE</string>
	<key>GCM_SENDER_ID</key>
	<string>992282442469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.duke.tee9.mochilla</string>
	<key>PROJECT_ID</key>
	<string>mochilla-fdff4</string>
	<key>STORAGE_BUCKET</key>
	<string>mochilla-fdff4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992282442469:ios:65c55b841b6f40bcf3b20c</string>
</dict>
</plist>